<div class="image-preview-panel p-2">
    <h2
        class="text-center text-xl md:text-3xl font-bold"
        mat-dialog-title
        >Image Preview</h2
    >
    <mat-dialog-content>
        <img
            class="preview-image border"
            src="{{ imageUrl }}"
            alt="Preview Image" />
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            mat-dialog-close
            >Close</button
        >
        <button
            *ngIf="showDelete"
            (click)="deleteImage()"
            mat-flat-button
            color="warn"
            >Delete</button
        >
    </mat-dialog-actions>
</div>
