<div class="min-h-screen">
    <ng-container *ngIf="restaurant; else loadingContainer">
        <!-- Header -->
        <section>
            <h2 class="p-3 text-3xl font-bold shadow-xl">{{
                restaurant.name
            }}</h2>
        </section>

        <!-- Cover Image -->
        <section
            class="h-96 bg-cover bg-center backdrop-opacity-10"
            style="background-image: url('{{ coverImage }}');">
        </section>
    </ng-container>

    <!-- Tabs -->
    <section>
        <mat-tab-group color="accent">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="flex justify-between items-center gap-5">
                        <mat-icon class="hidden md:block">info</mat-icon>
                        Details
                    </span>
                </ng-template>

                <!-- Details Body -->
                <div class="min-h-screen">
                    <div class="p-4 flex justify-end items-center gap-10">
                        <button
                            *ngIf="showEdit"
                            mat-flat-button
                            (click)="onEditClick()"
                            color="accent">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="flex justify-between items-center gap-5">
                        <mat-icon class="hidden md:block">image</mat-icon>
                        Images
                    </span>
                </ng-template>

                <!-- Images Body -->
                <div class="min-h-screen">Images</div>
            </mat-tab>
            <mat-tab label="Reviews">
                <ng-template mat-tab-label>
                    <span class="flex justify-between items-center gap-5">
                        <mat-icon class="hidden md:block">rate_review</mat-icon>
                        Reviews
                    </span>
                </ng-template>

                <!-- Reviews Body -->
                <div class="min-h-screen">Reviews</div>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>

<ng-template #loadingContainer>
    <loading-spinner [label]="'loading-restaurant'"></loading-spinner>
</ng-template>
