<div class="min-h-screen">
    <ng-container *ngIf="restaurant; else loadingContainer">
        <div class="container-90-vw">
            <h2 class="text-3xl font-bold py-4 flex items-center gap-2">
                {{ restaurant.name }}
                <svg
                    *ngIf="showEdit"
                    role="tooltip"
                    aria-live="assertive"
                    [matTooltip]="'You own this restaurant'"
                    aria-label="You own this restaurant"
                    class="text-yellow-600"
                    inline="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24">
                    <path
                        fill="currentColor"
                        d="M5 16L3 5l5.5 5L12 4l3.5 6L21 5l-2 11zm14 3c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1v-1h14z" />
                </svg>
            </h2>
        </div>
        <!-- Cover Image -->
        <section
            class="h-96 bg-cover bg-center backdrop-opacity-10"
            style="background-image: url('{{ coverImage }}');">
        </section>

        <!-- Restaurant Details -->
        <section>
            <mat-tab-group color="accent">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="flex justify-between items-center gap-5">
                            <mat-icon class="hidden md:block">info</mat-icon>
                            Details
                        </span>
                    </ng-template>

                    <!-- Details Body -->
                    <div class="min-h-screen">
                        <restaurant-details-tab
                            [restaurant]="restaurant"
                            [showEdit]="showEdit"
                            (restaurantUpdated)="
                                restaurantUpdated($event)
                            "></restaurant-details-tab>
                    </div>
                </mat-tab>

                <!-- Images Tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="flex justify-between items-center gap-5">
                            <mat-icon class="hidden md:block">image</mat-icon>
                            Images
                        </span>
                    </ng-template>

                    <!-- Images Body -->
                    <div class="min-h-screen">
                        <restaurant-images
                            (imageUploaded)="restaurantUpdated($event)"
                            [showUploadButton]="showEdit"
                            [restaurant]="restaurant"></restaurant-images>
                    </div>
                </mat-tab>

                <!-- Reviews Tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="flex justify-between items-center gap-5">
                            <mat-icon class="hidden md:block"
                                >rate_review</mat-icon
                            >
                            Reviews
                        </span>
                    </ng-template>

                    <!-- Reviews Body -->
                    <div class="min-h-screen">
                        <reviews [restaurant]="restaurant"></reviews>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section>
    </ng-container>

    <ng-template #loadingContainer>
        <loading-spinner [label]="'loading-restaurant'"></loading-spinner>
    </ng-template>
</div>
