<h2
    mat-dialog-title
    class="text-xl font-semibold"
    >{{ isEdit ? 'Edit' : 'Add' }} Menu Item</h2
>

<mat-dialog-content class="w-200 sm:w-96">
    <form
        #menuItemForm="ngForm"
        (ngSubmit)="onSave()"
        novalidate>
        <div class="flex flex-col gap-4">
            <mat-form-field>
                <mat-label>Item Name</mat-label>
                <input
                    matInput
                    placeholder="Name"
                    [(ngModel)]="menuItem.name"
                    name="name"
                    maxlength="30"
                    required />
                <mat-error
                    *ngIf="menuItemForm.controls['name']?.errors?.['required']"
                    >Name is required.</mat-error
                >
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Unit Price</mat-label>
                <input
                    matInput
                    placeholder="15.99"
                    [(ngModel)]="menuItem.unitPrice"
                    name="price"
                    type="number"
                    required />
                <span matTextPrefix>$&nbsp;</span>
                <mat-error
                    *ngIf="menuItemForm.controls['price']?.errors?.['required']"
                    >Price is required.</mat-error
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea
                    matInput
                    placeholder="Renowned for its..."
                    [(ngModel)]="menuItem.description"
                    name="description"
                    required
                    rows="5"></textarea>
                <mat-error
                    *ngIf="
                        menuItemForm.controls['description']?.errors?.[
                            'required'
                        ]
                    "
                    >Description is required.</mat-error
                >
            </mat-form-field>
            <!-- Add more form fields for other properties of the menu item -->
        </div>
        <mat-dialog-actions [align]="'end'">
            <button
                mat-flat-button
                type="button"
                (click)="onCancel()"
                ><mat-icon>cancel</mat-icon>Cancel</button
            >
            <button
                mat-flat-button
                color="accent"
                type="submit"
                [disabled]="menuItemForm.invalid"
                ><mat-icon>save</mat-icon
                >{{ isEdit ? 'Update' : 'Create' }} Menu Item</button
            >
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
