<div class="page-footer">
    <section class="resto-card-container">
        <div class="page-footer__link-group">
            <div class="d-flex flex-row flex-sm-column justify-content-between">
                <div class="page-footer__list d-flex flex-column">
                    <h3 class="mb-3">Discover</h3>
                    <a
                        angulartics2on="click"
                        angularticscategory="Footer - Link - About Us"
                        angularticsevent="Click"
                        class="page-footer__list__link mb-1"
                        title="TouchBistro Dine - About"
                        href="/about"
                        >Dine-A-Night</a
                    >
                </div>

                <div class="page-footer__list d-flex flex-column">
                    <h3 class="mb-3">Search Restaurants</h3>
                    <a
                        angulartics2on="click"
                        angularticsevent="Click"
                        class="page-footer__list__link mb-1"
                        target="_blank"
                        >Search</a
                    >
                </div>

                <div class="page-footer__list d-flex flex-column">
                    <h3 class="mb-3">Account</h3>

                    <a
                        angulartics2on="click"
                        angularticsevent="Click"
                        class="page-footer__list__link mb-1"
                        href="/login"
                        >Sign In</a
                    >
                </div>
            </div>
        </div>
        <div class="Footer__col-left Footer__bottom__copyright"
            >© 2024 Dine-A-Night. Toronto, ON. Canada.</div
        >
    </section></div
>
