<div class="bg-custom-black">
    <div class="w-full max-w-screen-xl mx-auto p-2 md:py-2">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a
                href="#"
                class="flex items-center mb-2 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <span
                    class="self-center text-xl font-semibold whitespace-nowrap"
                    >Dine-A-Night.</span
                >
            </a>
            <ul class="flex flex-wrap items-center mb-2 font-semibold sm:mb-0">
                <li>
                    <a
                        href="/about-us"
                        class="hover:underline text-lg md:text-xl me-2 md:me-4"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        href="/login"
                        class="hover:underline text-lg md:text-xl me-2 md:me-4"
                        >Account</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="hover:underline text-lg md:text-xl"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>
        <hr
            class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
        <span
            class="block text-sm text-gray-100 sm:text-center dark:text-gray-400"
            >© 2024 <a class="hover:underline">Dine-A-Night™</a>. All Rights
            Reserved.</span
        >
    </div>
</div>
