<div
    id="contact-us"
    class="bg-custom-black p-10 py-6 lg:py-10">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a class="flex items-center">
                    <span
                        class="self-center text-2xl font-semibold whitespace-nowrap"
                        >Dine-A-Night</span
                    >
                </a>

                <div class="py-2 lg:py-4 gap-2 flex">
                    <a
                        href="https://www.flaticon.com/free-icons/chef"
                        title="Chef icons by Freepik - Flaticon"
                        target="_blank"
                        class="social-link chef-link"
                        >Icon 1</a
                    >
                    <a
                        href="https://www.flaticon.com/free-icons/chef"
                        title="Chef icons by Freepik - Flaticon"
                        target="_blank"
                        class="social-link chef-link"
                        >Icon 2</a
                    >
                    <a
                        href="https://www.flaticon.com/free-icons/chef"
                        title="Chef icons by Freepik - Flaticon"
                        target="_blank"
                        class="social-link chef-link"
                        >Icon 3</a
                    >
                </div>
            </div>

            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
                <div>
                    <h2
                        class="mb-6 text-sm font-semibold text-gray-300 uppercase"
                        >About</h2
                    >
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a
                                href="#"
                                class="hover:underline"
                                >Dine-A-Night</a
                            >
                        </li>
                        <li>
                            <a
                                href="/explore-restaurants-page"
                                class="hover:underline"
                                >Find Restaurants</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        class="mb-6 text-sm font-semibold text-gray-300 uppercase"
                        >More</h2
                    >
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a
                                href="#"
                                class="hover:underline"
                                >Contact Us</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="hover:underline"
                                >Terms &amp; Conditions</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-2" />
        <div class="sm:flex sm:items-center sm:justify-center">
            <span class="text-sm text-gray-300 sm:text-center mx-auto">
                © 2024
                <a class="hover:underline">Dine-A-Night™</a>. All Rights
                Reserved.
            </span>
        </div>
    </div>
</div>
