<div class="container-90">
    <h2 class="text-2xl sm:text-3xl font-bold py-4">Reviews</h2>

    <div
        *ngIf="reviews"
        class="flex gap-2">
        <p class="font-bold">{{ overallRating }}</p>
        <rating-selector
            [rating]="overallRating"
            [editMode]="false"></rating-selector>
        <p class="font-bold">&lpar;{{ reviews.length }} reviews&rpar;</p>
    </div>

    <!-- Review Form -->
    <section>
        <add-review-form
            (reviewAdded)="onReviewAdded($event)"
            [restaurant]="restaurant"></add-review-form>
    </section>

    <!-- Reviews List -->
    <section
        *ngIf="reviews?.length; else NoReviewMessage"
        class="py-4">
        <review
            *ngFor="let review of reviews"
            [review]="review"
            (reviewDeleted)="onReviewDeleted($event)"
            (reviewUpdated)="onReviewUpdated($event)"></review>
    </section>
</div>

<ng-template #NoReviewMessage>
    <div class="w-full flex justify-center items-center py-20">
        <h2 class="flex items-center gap-3 text-xl"
            >No Reviews Yet<mat-icon [inline]="true">error_outline</mat-icon>
        </h2>
    </div>
</ng-template>
