<div class="container-90">
    <h2 class="text-2xl sm:text-3xl font-bold py-4">Reviews</h2>

    <div
        *ngIf="reviews?.length"
        class="flex gap-2">
        <p class="font-bold">{{ overallRating }}</p>
        <rating-selector
            [rating]="overallRating"
            [editMode]="false"></rating-selector>
        <p class="font-bold">&lpar;{{ reviews.length }} reviews&rpar;</p>
    </div>

    <!-- Review Form -->
    <section>
        <add-review-form
            (reviewAdded)="onReviewAdded($event)"
            [restaurant]="restaurant"></add-review-form>
    </section>

    <!-- Reviews List -->
    <section
        *ngIf="reviews?.length; else NoReviewMessage"
        class="py-4">
        <review
            *ngFor="let review of reviews"
            [review]="review"
            (reviewDeleted)="onReviewDeleted($event)"
            (reviewUpdated)="onReviewUpdated($event)"></review>
    </section>
</div>

<ng-template #NoReviewMessage>
    <informational-text [text]="'No Reviews Yet'"></informational-text>
</ng-template>
