<div
    class="w-40 hover:shadow-md cursor-pointer border border-gray-400 rounded-xl">
    <a
        class="block no-underline"
        [ngClass]="{
            'text-black': !isSelected,
            'text-color-accent': isSelected
        }">
        <div class="relative overflow-hidden h-36">
            <!-- Use cuisine image if available, else use a placeholder -->
            <img
                [src]="cuisine.imageUrl || ''"
                alt="Cuisine Image"
                class="w-full h-full object-cover rounded-t-xl" />
        </div>

        <!-- Display cuisine name -->
        <h4
            class="block mb-2 text-center font-sans text-lg font-semibold text-blue-gray-900 py-3"
            >{{ cuisine.name }}</h4
        >
    </a>
</div>
