<!-- Header -->
<section class="container-90-vw">
    <h2 class="text-3xl font-bold my-2">Reservation Details</h2>
</section>

<!-- Cover Image -->
<section
    class="h-96 bg-cover bg-center backdrop-opacity-10"
    style="background-image: url('{{ restaurantCoverImage }}');">
</section>

<!-- Body -->
<section
    *ngIf="reservation; else LoadingSpinner"
    class="container-90-vw py-2">
    <!-- Controls -->
    <section
        class="flex justify-between items-center flex-wrap"
        *ngIf="!(reservation.isHistorical() || reservation.isCancelled)">
        <a
            class="text-xl font-bold cursor-pointer"
            [routerLink]="['/explore-restaurants', reservation.restaurant._id]"
            >{{ reservation.restaurant.name }}</a
        >

        <div class="py-2 flex justify-end items-center flex-wrap gap-3">
            <button
                *ngIf="showRescheduleReservationsButton"
                mat-flat-button
                color="accent"
                (click)="onRescheduleReservationClick()">
                <mat-icon>access_time</mat-icon>
                Reschedule
            </button>
            <button
                mat-flat-button
                color="warn"
                (click)="onCancel()">
                <mat-icon>clear</mat-icon>
                Cancel
            </button>
        </div>
    </section>

    <!-- Details -->
    <section
        *ngIf="reservation"
        class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-color-primary border rounded-lg p-3 my-3">
        <!-- Reservation Details -->
        <div>
            <h2 class="text-lg flex items-center gap-2"
                >Table & Timings
                <mat-icon class="hidden md:block">access_time</mat-icon></h2
            >

            <dl class="divide-y divide-gray-100">
                <!-- Customer -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Customer</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                        >{{ reservation.user.firstName }}
                        {{ reservation.user.lastName }}</dd
                    >
                </div>

                <!-- Customer Phone-->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Customer Phone</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <a href="tel:+{{ reservation.user.phone }}">{{
                            reservation.user.phone
                        }}</a>
                    </dd>
                </div>

                <!-- Customer Email -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Customer Email</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <a
                            target="_blank"
                            href="mailto:{{ reservation.user.email }}"
                            >{{ reservation.user.email }}</a
                        >
                    </dd>
                </div>

                <!-- Selected Table -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Table</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                        >{{ selectedTableInfo }}</dd
                    >
                </div>

                <!-- Reservation Status -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Reservation Status</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <ng-container
                            *ngTemplateOutlet="
                                ReservationStatus
                            "></ng-container>
                    </dd>
                </div>

                <!-- Reservation Date -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Reservation Date</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                        >{{
                            reservation.startDateTime
                                ? (reservation.startDateTime | date: 'fullDate')
                                : 'Time not selected'
                        }}</dd
                    >
                </div>

                <!-- Start Time -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >Start Time</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                        >{{
                            reservation.startDateTime
                                ? (reservation.startDateTime
                                  | date: 'shortTime')
                                : ' Start time not selected'
                        }}</dd
                    >
                </div>

                <!-- End Time -->
                <div class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900"
                        >End Time</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                        >{{
                            reservation.endDateTime
                                ? (reservation.endDateTime | date: 'shortTime')
                                : ' End time not selected'
                        }}</dd
                    >
                </div>

                <!-- Special Requests -->
                <div
                    *ngIf="reservation"
                    class="px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt
                        id="special-requests-label"
                        class="text-sm font-medium leading-6 text-gray-900"
                        >Special Requests</dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {{ reservation.specialRequests }}
                    </dd>
                </div>
            </dl>
        </div>

        <!-- Order Details -->
        <div>
            <h2 class="text-lg flex items-center gap-2"
                >Preorder & Pricing
                <mat-icon class="hidden md:block">attach_money</mat-icon></h2
            >

            <dl class="divide-y divide-gray-100">
                <!-- Reservation Charges -->
                <div class="px-2 py-3 grid grid-cols-5 gap-4 px-0">
                    <dt
                        class="text-sm font-medium leading-6 col-span-3 sm:col-span-4 text-gray-900 flex flex-wrap items-center gap-1"
                        >Reservation Charges
                        <mat-icon
                            class="text-sm sm:text-md"
                            [matTooltip]="
                                'Security charges if customer does not show up'
                            "
                            >info</mat-icon
                        ></dt
                    >
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 col-span-2 sm:col-span-1 mt-0"
                        >{{
                            reservation.getReservationPrice()
                                | currency: 'CAD' : 'symbol-narrow' : '1.2-2'
                        }}</dd
                    >
                </div>

                <!-- Order Lines -->
                <ng-container *ngIf="reservation.preOrder">
                    <div
                        *ngFor="
                            let orderLine of reservation.preOrder.orderLines
                        "
                        class="px-2 py-3 grid grid-cols-5 gap-4 px-0">
                        <dt
                            class="text-sm font-medium leading-6 col-span-3 sm:col-span-4 text-gray-900"
                            >{{ orderLine.getInvoiceDescription() }}</dt
                        >
                        <dd
                            class="mt-1 text-sm leading-6 text-gray-700 col-span-2 sm:col-span-1 mt-0"
                            >{{
                                orderLine.getPrice()
                                    | currency
                                        : 'CAD'
                                        : 'symbol-narrow'
                                        : '1.2-2'
                            }}</dd
                        >
                    </div>
                </ng-container>

                <!-- Subtotal -->
                <div class="px-2 py-3 grid grid-cols-5 gap-4 px-0">
                    <dt
                        class="text-sm font-medium leading-6 col-span-3 sm:col-span-4 text-gray-900 flex items-center gap-1">
                        Subtotal
                    </dt>
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 col-span-2 sm:col-span-1 mt-0"
                        >{{
                            reservation.getSubtotal()
                                | currency: 'CAD' : 'symbol-narrow' : '1.2-2'
                        }}</dd
                    >
                </div>

                <!-- Tax -->
                <div class="px-2 py-3 grid grid-cols-5 gap-4 px-0">
                    <dt
                        class="text-sm font-medium leading-6 col-span-3 sm:col-span-4 text-gray-900 flex items-center gap-1">
                        Taxes
                    </dt>
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 col-span-2 sm:col-span-1 mt-0"
                        >{{
                            reservation.getTaxPrice()
                                | currency: 'CAD' : 'symbol-narrow' : '1.2-2'
                        }}</dd
                    >
                </div>

                <!-- Total -->
                <div class="px-2 py-3 grid grid-cols-5 gap-4 px-0">
                    <dt
                        class="text-sm font-medium leading-6 col-span-3 sm:col-span-4 text-gray-900 flex items-center gap-1">
                        Total
                    </dt>
                    <dd
                        class="mt-1 text-sm leading-6 text-gray-700 col-span-2 sm:col-span-1 mt-0"
                        >{{
                            reservation.getTotalPrice()
                                | currency: 'CAD' : 'symbol-narrow' : '1.2-2'
                        }}</dd
                    >
                </div>
            </dl>
        </div>
    </section>

    <!-- Table Preview -->
    <section *ngIf="reservation">
        <restaurant-layout
            [restaurant]="restaurant"
            [selectionDisabled]="true"
            [selectedTable]="reservation.tables[0]"></restaurant-layout>
    </section>
</section>

<ng-template #LoadingSpinner>
    <loading-spinner
        [spinnerType]="spinnerType"
        [label]="'Loading Reservation'"></loading-spinner>
</ng-template>

<ng-template #ReservationStatus>
    <p
        class="inline font-bold bg-red-500 text-color-light py-1 px-2 rounded-full"
        *ngIf="reservation.isCancelled"
        >Cancelled</p
    >

    <p
        class="inline font-bold bg-yellow-400 py-1 px-2 rounded-full"
        *ngIf="!reservation.isCancelled && reservation.isHistorical()"
        >Historical</p
    >

    <p
        class="inline font-bold bg-green-500 text-color-light py-1 px-2 rounded-full"
        *ngIf="!reservation.isCancelled && !reservation.isHistorical()"
        >Upcoming</p
    >
</ng-template>
