<nav class="relative px-5 border flex justify-between items-center">
    <ul class="nav-header flex items-center h-full gap-10 flex-wrap">
        <!-- Brand Logo -->
        <li>
            <div class="flex items-center">
                <a
                    routerLink="/home"
                    class="app-brand"
                    aria-label="Click to go to home page"
                    ><img
                        matTooltip="Home"
                        src="../../../assets/images/brandImage.png"
                        width="96"
                        alt="Brand Logo"
                /></a>
                <!-- App Name -->
                <p class="text-xl md:text-2xl font-bold hidden md:block">{{
                    appTitle
                }}</p>
            </div>
        </li>

        <!-- Links -->
        <li class="hidden lg:inline">
            <ul class="flex gap-10">
                <mat-divider [vertical]="true"></mat-divider>
                <li class="text-lg">
                    <a
                        routerLink="/"
                        fragment="about-us"
                        class="text-color-primary"
                        >About</a
                    >
                </li>
                <li class="text-lg">
                    <a
                        routerLink="/"
                        fragment="contact-us"
                        class="cursor-pointer text-color-primary"
                        >Contact Us</a
                    >
                </li>
            </ul>
        </li>
    </ul>

    <!-- Right Part -->
    <div>
        <div class="hidden md:flex gap-5">
            <a
                class="w-12 rounded-full shadow-md opacity-95 over:opacity-75"
                href="https://github.com/Dine-A-Night/dine-a-night_ui"
                title="Github"
                target="_blank">
                <img
                    class="w-24"
                    src="/assets/images/github.png"
                    alt="Github" />
            </a>

            <mat-divider [vertical]="true"></mat-divider>

            <!-- 'user() !== undefined' so that the login button does not appear initally  -->
            <button
                *ngIf="user() !== undefined && !user() && !isLoginPage"
                [routerLink]="['login']"
                mat-raised-button
                color="accent"
                style="border-radius: 25px; padding: 1.5em">
                <mat-icon>login</mat-icon>
                Login
            </button>

            <!-- <button
                *ngIf="!isLandingPage"
                [routerLink]="['home']"
                mat-fab
                matTooltip="Home"
                color="accent"
                style="border-radius: 25px">
                <mat-icon>home</mat-icon>
            </button> -->

            <!-- User Menu -->
            <button
                *ngIf="user()"
                [matMenuTriggerFor]="userMenu"
                matRipple
                class="rounded-full"
                color="accent">
                <img
                    class="w-12 rounded-full shadow-md"
                    [src]="
                        user()?.profilePictureUrl?.length
                            ? user()?.profilePictureUrl
                            : defaultProfilePictureUrl
                    "
                    alt="Profile Image" />
            </button>
            <mat-menu #userMenu="matMenu">
                <button
                    mat-menu-item
                    [routerLink]="['/userProfile']">
                    <mat-icon>person</mat-icon>
                    {{ displayName }}</button
                >
                <button
                    [routerLink]="['/explore-restaurants']"
                    mat-menu-item>
                    <mat-icon>home</mat-icon>
                    Explore Restaurants</button
                >
                <button
                    *ngIf="isCurrentRole(UserRole.CUSTOMER)"
                    [routerLink]="['/reservations']"
                    mat-menu-item>
                    <mat-icon>table_chart</mat-icon>
                    View Reservations</button
                >
                <button
                    *ngIf="isCurrentRole(UserRole.ADMIN)"
                    [routerLink]="['/manage-restaurants']"
                    mat-menu-item>
                    <mat-icon>fastfood</mat-icon>
                    Manage Restaurants</button
                >
                <button
                    mat-menu-item
                    (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    Logout</button
                >
            </mat-menu>
        </div>
        <div class="md:hidden">
            <button
                mat-icon-button
                matTooltip="{{ sideMenuOpen ? 'Close' : 'Open' }} Menu"
                (click)="toggleSideMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
</nav>

<div
    class="responsive-menu"
    [ngClass]="{
        'responsive-menu-open': sideMenuOpen,
        'responsive-menu-closed': !sideMenuOpen && sideMenuTouched
    }">
    <div class="flex justify-between mb-2 p-3">
        <h2 class="text-2xl font-bold">Pages</h2>
        <button
            class="flex items-center rounded p-1"
            matRipple
            title="Close"
            matTooltip="Close"
            (click)="toggleSideMenu()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <hr />

    <ul>
        <li>
            <a
                class="flex items-center gap-2 p-2 hover:no-underline bg-sky-100 hover:bg-sky-200 focus:bg-sky-200 text-color-primary"
                [routerLink]="['/explore-restaurants']"
                (click)="toggleSideMenu()"
                matRipple>
                <mat-icon>home</mat-icon>
                Home
            </a>
        </li>
        <li *ngIf="userInfoAvailable && !user() && !isLoginPage">
            <a
                [routerLink]="['login']"
                (click)="toggleSideMenu()"
                href="#"
                class="flex items-center gap-2 p-2 hover:no-underline bg-sky-100 hover:bg-sky-200 cursor-pointer focus:bg-sky-200 text-color-primary"
                matRipple>
                <mat-icon>login</mat-icon>
                Login
            </a>
        </li>

        <li *ngIf="user()">
            <a
                [routerLink]="['/userProfile']"
                (click)="toggleSideMenu()"
                href="#"
                class="flex items-center gap-2 p-2 hover:no-underline bg-sky-100 hover:bg-sky-200 cursor-pointer focus:bg-sky-200 text-color-primary"
                matRipple>
                <mat-icon>person</mat-icon>
                Profile
            </a>
            <a
                *ngIf="isCurrentRole(UserRole.CUSTOMER)"
                [routerLink]="['/reservations']"
                (click)="toggleSideMenu()"
                class="flex items-center gap-2 p-2 hover:no-underline bg-sky-100 hover:bg-sky-200 cursor-pointer focus:bg-sky-200 text-color-primary"
                matRipple>
                <mat-icon>table_chart</mat-icon>
                View Reservations
            </a>
            <a
                *ngIf="isCurrentRole(UserRole.ADMIN)"
                [routerLink]="['/manage-restaurants']"
                (click)="toggleSideMenu()"
                class="flex items-center gap-2 p-2 hover:no-underline bg-sky-100 hover:bg-sky-200 cursor-pointer focus:bg-sky-200 text-color-primary"
                matRipple>
                <mat-icon>fastfood</mat-icon>
                Manage Restaurants
            </a>

            <button
                mat-menu-item
                (click)="logout(); toggleSideMenu()"
                class="flex items-center gap-2 p-2 hover:no-underline bg-sky-100 hover:bg-sky-200 cursor-pointer focus:bg-sky-200 text-color-primary">
                <mat-icon>logout</mat-icon>
                Logout</button
            >
        </li>

        <hr />

        <li>
            <a
                routerLink="/"
                fragment="about-us"
                class="block p-2 hover:no-underline hover:bg-sky-100 focus:bg-sky-100 text-color-primary"
                (click)="toggleSideMenu()"
                matRipple
                >About</a
            >
        </li>
        <li>
            <a
                routerLink="/"
                class="block p-2 hover:no-underline hover:bg-sky-100 focus:bg-sky-100 text-color-primary"
                fragment="contact-us"
                (click)="toggleSideMenu()"
                matRipple
                >Contact Us</a
            >
        </li>

        <hr />
    </ul>
</div>
