<div class="container-90-vw">
    <!-- Header -->
    <section class="flex flex-wrap gap-5 justify-between items-center py-4">
        <h2 class="text-2xl sm:text-3xl font-bold">Images</h2>

        <file-selector
            *ngIf="showUploadButton"
            [accept]="'image/*'"
            (filesSelected)="uploadImages($event)">
            <button
                #fileSelector
                mat-flat-button
                color="accent"
                ><mat-icon>upload</mat-icon>Upload Images</button
            >
        </file-selector>
    </section>

    <!-- Photo Grid -->
    <images-grid
        (imageDeleted)="onImageDelete($event)"
        [imageUrls]="restaurant.photoUris ?? []"
        [showDelete]="showUploadButton"
        [restaurantId]="restaurant._id"></images-grid>
</div>
