<div class="min-h-screen container-80 py-5">
    <!-- Heading -->

    <h2
        *ngIf="isEdit"
        class="text-3xl font-bold"
        mat-dialog-title
        >Update Restaurant</h2
    >

    <section
        *ngIf="!isEdit"
        class="flex justify-between">
        <h2 class="text-3xl font-bold">Add New Restaurant</h2>

        <!-- Desktop -->
        <button
            [disableRipple]="true"
            mat-flat-button
            color="accent"
            class="hidden md:inline-flex"
            [routerLink]="['/manage-restaurants']"
            ><mat-icon>arrow_back</mat-icon>Manage Restaurants</button
        >
        <!-- Mobile -->
        <button
            mat-icon-button
            color="accent"
            class="md:hidden"
            matTooltip="Manage Restaurants"
            [routerLink]="['/manage-restaurants']"
            aria-label="Go to manage restaurants page">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </section>

    <!-- Add Edit Form -->
    <section>
        <form
            [formGroup]="restaurantForm"
            class="w-full">
            <fieldset class="border border-solid rounded border-gray-300 p-3">
                <legend>
                    <img
                        class="w-24"
                        src="assets/images/brandImage.png"
                        alt="Brand Image" />
                </legend>

                <!-- Restaurant Name -->
                <mat-form-field
                    color="primary"
                    class="w-full mb-5">
                    <mat-label>Restaurant Name</mat-label>
                    <mat-icon matPrefix>fastfood</mat-icon>
                    <input
                        formControlName="name"
                        matInput
                        placeholder="Jack Astors" />
                    <mat-error
                        *ngIf="
                            restaurantForm.get('name')?.hasError('required')
                        ">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <!-- Description -->
                <mat-form-field
                    color="primary"
                    class="w-full mb-5">
                    <mat-label>Restaurant Description</mat-label>
                    <mat-icon matPrefix>description</mat-icon>
                    <textarea
                        formControlName="description"
                        matInput
                        placeholder="We offer ..."></textarea>
                    <mat-error
                        *ngIf="
                            restaurantForm
                                .get('description')
                                ?.hasError('required')
                        ">
                        Description is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            restaurantForm
                                .get('description')
                                ?.hasError('maxlength')
                        ">
                        Description can be a max of
                        {{
                            restaurantForm
                                .get('description')
                                ?.getError('maxlength').requiredLength
                        }}
                        characters. Current length:
                        {{
                            restaurantForm
                                .get('description')
                                ?.getError('maxlength').actualLength
                        }}
                    </mat-error>
                </mat-form-field>

                <!-- Cuisines -->
                <mat-form-field
                    color="primary"
                    class="w-full mb-3">
                    <mat-label>Cuisines</mat-label>
                    <mat-select
                        formControlName="cuisines"
                        multiple>
                        <mat-option
                            *ngFor="let cuisine of cuisinesList"
                            [value]="cuisine._id"
                            >{{ cuisine.name }}</mat-option
                        >
                    </mat-select>
                    <mat-error
                        *ngIf="
                            restaurantForm.get('cuisines')?.hasError('required')
                        ">
                        At least one Cuisine needs to be selected
                    </mat-error>
                </mat-form-field>

                <!-- Location -->
                <app-address-form
                    [addressForm]="restaurantForm.controls.location"
                    [headerTitle]="'Location'"
                    [displayMapsPreview]="true"
                    (markerPositionChange)="onCoordinatesChanged($event)"
                    (addressChange)="addressEntered($event)"></app-address-form>

                <div class="flex justify-end mt-4 gap-5">
                    <button
                        *ngIf="!isEdit"
                        mat-flat-button
                        color="accent"
                        [disableRipple]="true"
                        [disabled]="createDisabled"
                        (click)="createRestaurant()">
                        <mat-icon>save</mat-icon>
                        Create Restaurant
                    </button>
                    <button
                        #cancelButton
                        *ngIf="isEdit"
                        mat-button
                        [mat-dialog-close]="restaurant"
                        class="border">
                        <mat-icon>clear</mat-icon>
                        Cancel
                    </button>
                    <button
                        *ngIf="isEdit"
                        mat-flat-button
                        color="accent"
                        [disableRipple]="true"
                        [disabled]="createDisabled"
                        (click)="updateRestaurant()">
                        <mat-icon>save</mat-icon>
                        Update Restaurant
                    </button>
                </div>
            </fieldset>
        </form>
    </section>
</div>
