<h2 class="text-3xl font-bold text-center py-5 bg-slate-950 text-color-light"
    >Make a Reservation<mat-icon class="mx-2">date_range</mat-icon>
</h2>

<mat-dialog-content class="h-full">
    <mat-stepper
        color="accent"
        class="border rounded-lg"
        [autofocus]="false"
        [orientation]="(stepperOrientation | async)!"
        [linear]="true"
        #stepper>
        <mat-step label="Select Table and Time">
            <div class="py-3">
                <restaurant-layout
                    (tableSelected)="onTableSelected($event)"
                    [editMode]="false"
                    [restaurant]="restaurant"></restaurant-layout>
            </div>

            <div class="flex justify-end">
                <button
                    mat-flat-button
                    color="accent"
                    matStepperNext
                    >Next</button
                >
            </div>
        </mat-step>

        <mat-step label="Order Beforehand"> </mat-step>

        <mat-step label="Reservation Summary">
            <div class="container-80"> </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions
    class="absolute right-0 bottom-0"
    [align]="'end'">
    <button
        mat-raised-button
        (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Cancel
    </button>

    <button
        mat-raised-button
        color="accent"
        (click)="makeReservation()"
        [disabled]="saveDisabled">
        <mat-icon>today</mat-icon>
        Reserve Table
    </button>
</mat-dialog-actions>
