<ng-container *ngIf="restaurant">
    <!-- Controls -->
    <section
        class="container-90-vw py-3 flex flex-wrap justify-center sm:justify-end items-center gap-6 sm:gap-10">
        <file-selector
            (filesSelected)="uploadCoverPhoto($event)"
            *ngIf="showEdit">
            <button
                #fileSelector
                mat-flat-button
                color="accent">
                <mat-icon>upload</mat-icon>
                Upload Cover Photo
            </button>
        </file-selector>
        <button
            *ngIf="showEdit"
            mat-flat-button
            (click)="onBuildLayoutClick()"
            color="accent">
            <mat-icon>build</mat-icon>
            Build Layout
        </button>
        <button
            *ngIf="canMakeReservation"
            mat-flat-button
            (click)="onMakeReservationClick()"
            color="accent">
            <mat-icon>today</mat-icon>
            Reserve a Table
        </button>
        <button
            *ngIf="showEdit"
            mat-flat-button
            (click)="onEditClick()"
            color="accent">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
    </section>

    <section class="container-90-vw">
        <section
            class="flex flex-wrap justify-center sm:justify-start gap-7 my-2">
            <!-- Cuisine -->
            <div class="flex flex-wrap items-center justify-center text-center">
                <mat-icon class="mr-1">restaurant_menu</mat-icon>
                <span
                    *ngFor="let cuisine of restaurant.cuisines; let last = last"
                    >{{ cuisine.name }}{{ !last ? ',&nbsp;' : '' }}</span
                >
            </div>
            <!-- Location -->
            <div class="flex flex-wrap items-center justify-center text-center">
                <mat-icon class="mr-1">place</mat-icon>
                <p>{{ formatLocation(restaurant.location) }}</p>
            </div>
            <!-- Reviews -->
            <div class="flex flex-wrap items-center justify-center text-center">
                <mat-icon class="mr-1">rate_review</mat-icon>
                <span>{{ restaurant.reviewCount }} Reviews</span>
            </div>
        </section>

        <mat-divider />

        <section class="py-4 text-justify sm:text-start">
            <p>{{ restaurant.description }}</p>
        </section>

        <!-- Menu Items -->
        <section class="py-8">
            <menu-items [restaurant]="restaurant"></menu-items>
        </section>
    </section>
</ng-container>
