<div class="container mx-auto px-4 md:px-8 lg:px-30 py-4">
    <!-- Search input field -->
    <div class="flex justify-center mb-4">
        <div class="relative">
            <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="searchRestaurants()"
                class="bg-white border border-gray-400 text-gray-700 font-bold py-3 px-6 rounded-full text-lg pl-10 pr-8"
                placeholder="Search Restaurants.." />
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <mat-icon class="material-icons text-gray-600">search</mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-4 md:px-4 lg:px-20 py-2">
    <div class="bg-grey rounded-lg p-4">
        <h2 class="text-3xl font-semibold mb-4"
            >What are you in the mood for?</h2
        >
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
            <!-- Loop through cuisines and generate a card for each -->
            <cuisine-card
                *ngFor="let cuisine of cuisines"
                (click)="filterByCuisine(cuisine.name)"
                [class]="
                    selectedCuisine === cuisine.name
                        ? 'underline cursor-pointer'
                        : 'cursor-pointer'
                "
                [cuisine]="cuisine"></cuisine-card>
        </div>
    </div>

    <div class="bg-grey rounded-lg p-4 mt-8">
        <h2 class="text-3xl font-semibold mb-4">Restaurants Near You</h2>
        <!-- Flex container for all cards, set to horizontal layout -->
        <div class="flex flex-col">
            <!-- Loop through each filtered restaurant -->
            <restaurant-detailed-card
                *ngFor="let restaurant of filteredRestaurants"
                [restaurant]="restaurant"></restaurant-detailed-card>
        </div>
    </div>
</div>
