<div class="container mx-auto px-4 md:px-8 lg:px-30 py-4">
    <!-- Search input field -->
    <div class="flex justify-center mb-4">
        <div class="relative">
            <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="searchRestaurants()"
                class="bg-white border border-gray-400 text-gray-700 font-bold py-3 px-6 rounded-full text-lg pl-10 pr-8"
                placeholder="Search Restaurants.." />
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <mat-icon class="material-icons text-gray-600">search</mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-4 md:px-4 lg:px-20 py-2">
    <!-- Cuisines Filter -->
    <section class="bg-grey rounded-lg p-4">
        <h2 class="text-3xl font-semibold mb-4"
            >What are you in the mood for?</h2
        >
        <div class="relative">
            <div
                #cuisinesScrollContainer
                class="scroll-container scroll-smooth"
                (window:resize)="onCuisineContainerResize()">
                <!-- Loop through cuisines and generate a card for each -->
                <cuisine-card
                    *ngFor="let cuisine of cuisinesList"
                    (click)="filterByCuisine(cuisine)"
                    [isSelected]="selectedCuisine === cuisine._id"
                    [cuisine]="cuisine"></cuisine-card>
            </div>

            <!-- Scroll Buttons -->
            <button
                *ngIf="showLeftCuisineScrollButton"
                mat-fab
                matSuffix
                type="button"
                title="Scroll Left"
                [attr.aria-label]="'Scroll Left'"
                (click)="onLeftScrollClick($event)"
                class="absolute left-0 top-1/2 -translate-y-1/2 -translate-x-1/2 bg-accent w-8 h-8 text-md">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button
                *ngIf="showRightCuisineScrollButton"
                mat-fab
                matSuffix
                type="button"
                title="Scroll Left"
                [attr.aria-label]="'Scroll Left'"
                (click)="onRightScrollClick($event)"
                class="absolute top-1/2 -translate-y-1/2 right-0 translate-x-1/2 bg-accent w-8 h-8 text-md">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </section>

    <!-- Nearby Restaurants -->
    <section class="min-h-screen bg-grey rounded-lg p-4 mt-8">
        <h2
            *ngIf="searchTerm.length === 0"
            class="text-3xl font-semibold my-2">
            <ng-container *ngIf="selectedCuisine">
                {{ selectedCuisineName }}
            </ng-container>
            Restaurants Near You
        </h2>

        <p
            *ngIf="searchTerm.length"
            class="my-2 text-slate-600 font-bold text-lg">
            Showing results for: "{{ searchTerm }}"
        </p>

        <!-- Flex container for all cards, set to horizontal layout -->
        <div
            *ngIf="
                filteredRestaurants?.length;
                else EmptyRestaurantsPlaceholder
            "
            class="flex flex-col">
            <!-- Loop through each filtered restaurant -->
            <restaurant-detailed-card
                *ngFor="let restaurant of filteredRestaurants"
                [restaurant]="restaurant"></restaurant-detailed-card>
        </div>

        <ng-template #EmptyRestaurantsPlaceholder>
            <informational-text
                *ngIf="!isLoading"
                [text]="'No Restaurants Found'"></informational-text>

            <div class="py-24">
                <loading-spinner
                    *ngIf="isLoading"
                    [label]="'Fetching Nearby Restaurants'"
                    [fullHeight]="false"
                    [spinnerType]="SpinnerType.PAN"></loading-spinner>
            </div>
        </ng-template>
    </section>
</div>
