<div class="p-2">
    <h2
        class="text-3xl font-bold"
        mat-dialog-title
        >Delete User?</h2
    >
    <mat-dialog-content>
        <div class="flex flex-col gap-5">
            <img
                class="block w-1/3 m-auto"
                src="assets/images/brandImage.png"
                alt="Brand Image" />
            <p class="text-xl text-center"
                >User with email
                <span class="font-bold text-red-500">{{
                    currentUser?.email
                }}</span>
                will be permanently deleted!</p
            >
            <p class="text-center"
                >Re-enter your password your password to confirm
            </p>

            <mat-form-field
                class="w-full"
                color="accent">
                <input
                    matInput
                    [(ngModel)]="passwordEntered"
                    required="true"
                    placeholder="password"
                    type="password" />
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            mat-dialog-close
            >Cancel</button
        >
        <button
            mat-button
            mat-flat-button
            [disabled]="confirmDisabled"
            color="warn"
            (click)="checkPassword()"
            cdkFocusInitial
            >Delete User</button
        >
    </mat-dialog-actions>
</div>
