<div class="container-80 flex justify-center items-center min-h-screen">
    <div
        class="login-wrapper"
        fxLayout="row"
        fxLayoutAlign="center center"
        ><mat-card class="box">
            <img
                class="w-48 block m-auto"
                src="assets/images/brandImage.png"
                alt="Brand Image" />
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title> </mat-card-header
            ><form class="example-form">
                <mat-card-content>
                    <mat-form-field
                        color="accent"
                        class="w-full">
                        <input
                            matInput
                            placeholder="Username" /> </mat-form-field
                    ><mat-form-field
                        color="accent"
                        class="w-full">
                        <input
                            matInput
                            placeholder="Password" />
                    </mat-form-field>
                </mat-card-content>
                <button
                    mat-stroked-button
                    color="accent"
                    class="w-full font-bold"
                    >Log in</button
                >
            </form>
        </mat-card></div
    >
</div>
