<!-- Pitch Section -->
<section class="w-full min-h-screen md:h-screen py-10 bg-landing">
    <div class="container-80 h-full flex justify-center items-center">
        <!-- Get Started Button  -->
        <button
            mat-raised-button
            color="accent"
            class="font-bold hidden md:inline-flex"
            style="border-radius: 25px; padding: 1.5em; font-size: 1.5rem"
            routerLink="/explore-restaurants">
            <mat-icon class="scale-150">home</mat-icon>
            Get Started
        </button>

        <!-- Cards Desktop -->
        <div class="hidden md:block">
            <div
                [ngClass]="{ 'fade-top-left': playTransition }"
                class="bg-white p-4 w-64 h-56 absolute-center border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125">access_time</mat-icon>
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Tired of waiting outside a busy Restaurant?</p
                >
            </div>

            <div
                [ngClass]="{ 'fade-top-right': playTransition }"
                class="bg-white p-4 w-64 h-56 absolute-center border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125"
                    >sentiment_very_dissatisfied</mat-icon
                >
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Didn't get the table you were expecting?</p
                >
            </div>

            <div
                [ngClass]="{ 'fade-bottom-left': playTransition }"
                class="bg-white p-4 w-64 h-56 absolute-center border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125">restaurant</mat-icon>
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Guaranteed Reservations at your favourite Restaurant</p
                >
            </div>

            <div
                [ngClass]="{ 'fade-bottom-right': playTransition }"
                class="bg-white p-4 w-64 h-56 absolute-center border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125">star</mat-icon>
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Dine A Night is the Solution!</p
                >
            </div>
        </div>

        <!-- Cards Mobile -->
        <div class="md:hidden flex flex-col gap-10">
            <div
                class="bg-white p-4 w-64 h-56 border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125">access_time</mat-icon>
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Tired of waiting outside a busy Restaurant?</p
                >
            </div>

            <div
                class="bg-white p-4 w-64 h-56 border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125"
                    >sentiment_very_dissatisfied</mat-icon
                >
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Didn't get the table you were expecting?</p
                >
            </div>

            <!-- Get Started Button  -->
            <button
                mat-raised-button
                color="accent"
                class="font-bold"
                routerLink="/explore-restaurants"
                style="border-radius: 25px; padding: 1.5em; font-size: 1.5rem">
                <mat-icon class="scale-150">home</mat-icon>
                Get Started
            </button>

            <div
                class="bg-white p-4 w-64 h-56 border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125">restaurant</mat-icon>
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Guaranteed Reservations at your favourite Restaurant</p
                >
            </div>

            <div
                class="bg-white p-4 w-64 h-56 border-2 rounded-xl flex flex-col justify-center items-center gap-5 bg-slate-100 shadow scale-on-hover cursor-grab active:cursor-grabbing">
                <mat-icon class="scale-125">star</mat-icon>
                <hr class="color-accent w-full border-black" />
                <p class="text-2xl font-bold text-center"
                    >Dine A Night is the Solution!</p
                >
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about-us">
    <div class="container-90 p-10">
        <h2 class="text-3xl font-bold mb-5 text-center md:text-start"
            >About Us</h2
        >

        <div class="flex justify-center md:ml-10 md:float-right mb-4">
            <img
                class="w-80"
                src="assets/images/RestaurantCover.jpg"
                alt="About Us Image" />
        </div>
        <p class="text-justify sm:text-start"
            ><span class="highlight-accent">Dine-a-Night</span> is a
            user-friendly virtual reservation and review system poised to
            revolutionize the restaurant experience in Toronto. Our goal is to
            enhance restaurant operations and provide customers with an enriched
            dining experience. By incorporating features that allow the guest to
            choose which table they want to reserve, displaying guest reviews,
            allowing the restaurant to promote specials to users, and allowing
            guests to text-message restaurants about their reservation,
            <span class="highlight-accent">Dine-a-Night</span> will increase
            restaurant visibility and offer a seamless dining experience.</p
        >

        <h3 class="text-xl font-bold mt-4">Project Background</h3>
        <p class="text-justify sm:text-start"
            >In the vibrant city of Toronto, renowned for its diverse culinary
            offerings, a common challenge faced by both restaurant owners and
            patrons lies in the traditional reservation system. Relying on phone
            calls and walk-ins, this outdated approach brings forth
            inefficiencies and constraints, impacting the overall dining
            experience in the city.</p
        >
        <p class="text-justify sm:text-start"
            ><span class="highlight-accent">The Problem</span> of Traditional
            restaurant reservation systems relying on phone calls and walk-ins
            create
            <span class="highlight-accent">operational inefficiencies</span>,
            leading to errors, overbooking, and customer dissatisfaction in
            Toronto's diverse culinary scene. This outdated approach hinders
            customer retention and revenue growth for restaurants.</p
        >

        <h3 class="text-xl font-bold mt-4">Product Vision</h3>
        <p class="text-justify sm:text-start">
            <span class="highlight-accent">Dine-a-Night</span> empowers
            customers to secure
            <span class="highlight-accent">guaranteed</span> dine-in
            reservations through an intuitive application, eliminating the need
            for lengthy waits outside their favorite restaurants. Unlike other
            platforms like
            <a
                target="_blank"
                href="https://www.opentable.ca/blog/en/"
                >OpenTable</a
            >, Dine-a-Night prioritizes affordability and customization,
            ensuring a tailored experience for both restaurants and diners.
        </p>
    </div>
</section>
