<div class="min-h-screen container-80 p-4">
    <!-- Header -->
    <section class="flex justify-between items-center flex-wrap">
        <h2 class="font-bold text-2xl md:text-3xl">Manage Restaurants</h2>

        <!-- Desktop -->
        <button
            mat-button
            mat-flat-button
            class="hidden md:inline-flex"
            [disableRipple]="true"
            [routerLink]="['create']"
            color="accent">
            <mat-icon>add</mat-icon>Add Restaurant</button
        >
        <!-- Mobile -->
        <button
            mat-icon-button
            color="accent"
            class="md:hidden"
            matTooltip="Add new restaurant"
            [routerLink]="['create']"
            aria-label="Go to manage restaurants page">
            <mat-icon>add</mat-icon>
        </button>
    </section>

    <!-- Owned Restaurants -->
    <section
        *ngIf="!isLoading; else fetchingDataLoader"
        class="flex flex-wrap gap-5 mt-8 justify-center lg:justify-start">
        <restaurant-card
            *ngFor="let restaurant of restaurants"
            [restaurant]="restaurant"></restaurant-card>
    </section>
</div>

<ng-template #fetchingDataLoader>
    <div
        class="min-h-screen flex flex-col gap-10 items-center justify-center pulse-animation">
        <h2 class="text-2xl font-bold">Fetching Owned Restaurants</h2>
        <mat-icon>cloud_download</mat-icon>
    </div>
</ng-template>
