<div class="min-h-screen flex justify-center items-center">
    <mat-card class="h-full my-auto container-80 max-w-xl">
        <mat-card-content>
            <form
                *ngIf="personalDetailsForm; else fetchingDataLoader"
                class="w-full"
                [formGroup]="personalDetailsForm">
                <fieldset class="border border-solid border-gray-300 p-3">
                    <legend>
                        <img
                            class="w-24"
                            src="assets/images/brandImage.png"
                            alt="Brand Image" />
                    </legend>

                    <h2 class="text-2xl font-bold text-center"
                        >Profile Management</h2
                    >

                    <!-- Profile Picture -->
                    <div class="flex justify-center items-center">
                        <div class="relative w-28">
                            <img
                                class="w-full rounded-full block mx-auto my-5 object-center object-cover"
                                [src]="
                                    currentUser.profilePictureUrl?.length
                                        ? currentUser.profilePictureUrl
                                        : 'assets/images/profile.jpg'
                                "
                                alt="Profile Picture" />

                            <button
                                type="button"
                                mat-mini-fab
                                matTooltip="Update Profile Picture"
                                (click)="imageInputField.click()"
                                class="absolute bottom-1 right-0">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>

                    <input
                        #imageInputField
                        type="file"
                        (change)="uploadProfilePicture($event)"
                        hidden />

                    <!-- Personal Details Inputs -->
                    <div class="py-5">
                        <div class="flex flex-col md:flex-row md:gap-10">
                            <!-- First Name -->
                            <mat-form-field
                                class="flex-grow"
                                color="accent">
                                <mat-label>First Name</mat-label>
                                <input
                                    matInput
                                    placeholder="First Name"
                                    formControlName="firstName" />
                                <mat-error
                                    *ngIf="
                                        personalDetailsForm
                                            .get('firstName')
                                            ?.hasError('required')
                                    ">
                                    First Name is required
                                </mat-error>
                            </mat-form-field>

                            <!-- Last Name -->
                            <mat-form-field
                                class="flex-grow"
                                color="accent">
                                <mat-label>Last Name</mat-label>
                                <input
                                    matInput
                                    placeholder="Last Name"
                                    formControlName="lastName" />
                                <mat-error
                                    *ngIf="
                                        personalDetailsForm
                                            .get('lastName')
                                            ?.hasError('required')
                                    ">
                                    Last Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Phone -->
                        <mat-form-field
                            color="accent"
                            class="w-full">
                            <mat-label>Phone</mat-label>
                            <input
                                matInput
                                placeholder="Phone"
                                formControlName="phone" />
                            <mat-error
                                *ngIf="
                                    personalDetailsForm
                                        .get('phone')
                                        ?.hasError('required');
                                    else phoneValidationErrors
                                ">
                                Phone is required
                            </mat-error>
                            <ng-template #phoneValidationErrors>
                                <mat-error
                                    *ngIf="
                                        personalDetailsForm
                                            .get('phone')
                                            ?.hasError('pattern') ||
                                        personalDetailsForm
                                            .get('phone')
                                            ?.hasError('maxlength') ||
                                        personalDetailsForm
                                            .get('phone')
                                            ?.hasError('minlength')
                                    ">
                                    Phone number not valid
                                </mat-error>
                            </ng-template>
                        </mat-form-field>

                        <mat-radio-group
                            class="mt-3"
                            formControlName="role"
                            aria-label="Select user role">
                            <p class="font-bold">User Role:</p>
                            <mat-radio-button
                                color="accent"
                                value="Admin"
                                >Admin</mat-radio-button
                            >
                            <mat-radio-button
                                color="accent"
                                value="Customer"
                                >Customer</mat-radio-button
                            >
                        </mat-radio-group>
                    </div>
                </fieldset>
                <div class="mt-3">
                    <button
                        [disabled]="saveDisabled"
                        mat-raised-button
                        (click)="updateUserData()"
                        color="accent">
                        <mat-icon>save</mat-icon>
                        Save</button
                    >
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <ng-template #fetchingDataLoader>
        <div
            class="min-h-screen flex flex-col gap-10 items-center justify-center">
            <h2 class="text-2xl font-bold">Fetching User Data</h2>
            <mat-icon>cloud_download</mat-icon>
        </div>
    </ng-template>
</div>
