/* Tailwind Imports  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "custom-fonts.scss";

/* Colors */
$color-primary: white;
// $color-secondary: rgba(5, 5, 131, 0.862);
// $color-secondary: #001f3f;
$color-links: rgba(5, 5, 131, 0.862);
$color-secondary: #f7d390;
$color-accent: #d17341;

$text-color-primary: black;
$text-color-light: white;

/* Fonts */
/* $font-primary: 'Poppins', sans-serif; */
$font-primary: "Brandon Text", sans-serif;
$font-secondary: Roboto, "Helvetica Neue", sans-serif;
$font-headings: "Bree Serif", serif;
$font-fancy: "Arima", "Times New Roman", Times, serif, cursive;

/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    scroll-behavior: smooth;
}

::selection {
    background-color: $color-accent;
    color: $color-primary;
}

a {
    color: $color-accent;
}

a:hover {
    text-decoration: underline;
}

.container-50 {
    width: min(1000px, 50%);
    margin: auto;
}

.container-80 {
    width: min(1000px, 80%);
    margin: auto;
}

.container-90 {
    width: min(1000px, 90%);
    margin: auto;
}

.container-90-vw {
    width: 90vw;
    margin: auto;
}

/* Positioning */
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Color + Font Classes */
.font-primary {
    font-family: $font-primary;
}
.font-secondary {
    font-family: $font-secondary;
}
.font-headings {
    font-family: $font-headings;
}
.font-fancy {
    font-family: $font-fancy;
}

.bg-primary {
    background-color: $color-primary;
}
.bg-secondary {
    background-color: $color-secondary;
}
.bg-accent {
    background-color: $color-accent;
}

.text-color-primary {
    color: $text-color-primary;
}
.text-color-secondary {
    color: $color-secondary;
}
.text-color-light {
    color: $text-color-light;
}

.text-color-accent {
    color: $color-accent;
}

.highlight-accent {
    font-weight: bold;
    color: $color-accent;
}

/* Custom Animations */

.pulse-animation {
    animation: pulseAnimation 1000ms ease-in-out infinite;
}

@keyframes pulseAnimation {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.25;
    }

    100% {
        scale: 1;
    }
}

/* Material Overrides  */
::ng-deep {
    .mdc-button__label {
        color: white !important;
    }
}
.mat-raised-button {
    color: white !important;
}
.mat-mdc-raised-button.color-button {
    background-color: green;
    color: purple;
    border: 1px solid orange;
}

/* Modals */

.dine-a-night-modal_large {
    height: min(750px, 90vh);
    width: min(1000px, 80vw);
    overflow-y: auto;
}

.mat-mdc-dialog-content.mdc-dialog__content {
    max-height: 80%;
}

/* Mat Snackbar */
.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-container-color: #1e7e34;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;

        button {
            color: white !important;
        }
    }
}

.mat-mdc-snack-bar-container {
    &.fail-snackbar {
        --mdc-snackbar-container-color: #dc3545;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }

    button {
        color: white !important;
    }
}

/* ngx-timepicker  */
.timepicker-overlay {
    z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
    z-index: 1100 !important;
}

.dine-a-night_time-picker {
    --dial-background-color: #d17341;
    --clock-hand-color: #d17341;
    --button-color: #d17341;
}
