<div class="mb-3 flex justify-between items-center">
    <h2 class="text-2xl font-bold">Menu Items</h2>
    <button
        *ngIf="showEditControls"
        mat-button
        mat-flat-button
        (click)="openAddMenuItemDialog()"
        [disableRipple]="true"
        color="accent">
        <mat-icon>add</mat-icon>Add Menu Item
    </button>
</div>

<mat-divider class="mb-4"></mat-divider>

<!-- Search input field -->
<div class="relative mb-4 md:w-1/4 md:mr-4">
    <input
        type="text"
        class="bg-white border border-gray-400 text-gray-700 font-bold py-3 px-6 rounded-full text-lg pl-10 pr-8"
        placeholder="Search Menu Items"
        [(ngModel)]="searchTerm"
        (ngModelChange)="searchTextUpdated.next($event)" />
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <mat-icon class="material-icons text-gray-600">search</mat-icon>
    </div>
</div>

<div
    *ngIf="filteredMenuItems.length === 0"
    class="text-gray-500 text-lg">
    No menu items available.
</div>

<div class="flex flex-col gap-5">
    <menu-item
        *ngFor="let menuItem of filteredMenuItems"
        [menuItem]="menuItem"
        [showEditControls]="showEditControls"
        (itemDeleted)="onMenuItemDeleted($event)"></menu-item>
</div>
